@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

:root{

    --background : #000000;
    --red : #c20000;
    --blue : #001f70;
    --gradient : linear-gradient(180deg, rgba(83, 83, 83, 0.5) 0%, #000000 100%);
    --cinza : #1E1C21;
    --font :'Titillium Web', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


body{
    font-family: var(--font);
    background-color: var(--background);
    font-size: 16px;
}
.topo{
    width: 100%;
    height: 5em;
    /**background-color: azure;**/
}
.content{
    width: 95%;
    height: 100%;
    max-width: 75em;
    margin: auto;
    /**background-color: burlywood;**/
}
.flex-center-bt{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topo img{
    max-width: 21em;
}
.menu{
    width: 100%;
    max-width: 54em;
    padding: 25px;
}
.menu ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu a{
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;  
    padding: 1.8em 1em; 
}
.banner{
    width: 100%;
    height: 600px;
    position: relative;
}
.banner-position{
    width: 100%;
    height: 37.5em;
    /*background-color: rgba(100, 148, 237, 0.288);*/
    position: absolute;
    top: 0%;
}
.banner-content{
    width: 80%;
    height: 100%;
    /*background-color: rgba(255, 20, 145, 0.507);*/
    margin: auto;
    display: flex;
    justify-content: flex-end;
    margin-left: 250px;
}
.banner-text{
    width: 50%;
    height: 100%;
    /*background-color: gold;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.banner-text h1{
    font-size: 4.20em;
}
.banner-text p{
    font-size: 1.87em;
}
.banner-text a{
    font-size: 1.87em;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    background-color: var(--red);
    padding: 0.5em 1em;
    border-radius: 0.5em;
    margin-top: 1em;
}
.jogos{
    width: 100%;
    height: 7.5em;
    /*background-color: violet;*/
}
.jogos ul{
    list-style-type: none;
    width: 100%;
}
.jogos ul a:hover img{
    transform: scale(1.1);
    transition: 0.5s;
}
.about{
    width: 100%;
    height: 31.25em;
    background-color: var(--blue);
    position: relative;
}
.about-angulation{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.angulation{
    width: 100%;
    height: 24em;
    background-color: #000000;
    transform: skewY(-5deg);
}
.about-position{
        width: 100%;
        height: 100%;
        /*background-color: rgba(64, 224, 208, 0.295);*/
        position: absolute;
        top: 0;
}
.about-text{
    width: 50%;
    color: #fff;
    text-align: justify;
}
.about-text h2{
    font-size: 2.18em;
    margin-bottom: 0.5em;
}
.about-text p{
    font-size: 1.125em;
}
.about-position img{
    max-width: 31.87em;
}
.content-about img{
    max-width: 31.875em;
}
.games-aovivo::after{
    content:'';
    border: solid 0.1px;
    height: 2em;
    margin-top: 35px;
    margin-left: 2em;
    
}
.games-aovivo, .games-embreve{
    display: flex;
    color: #fff;
    font-size: 1.5em;
    border-radius: solid 1px;
}
.games-aovivo h2, .games-embreve h2{
    font-size: 1em;
    text-transform: uppercase;
}
.games-embreve{
     margin-top: -80px; 
     margin-left: 450px; 
}
.games-aovivo h2, .games-embreve h2{
    margin-right: 1em;
}
.partida{
    width: 9.5em;
    display: flex;
    align-items: center;
    /* background-color: red;*/
    justify-content: space-between;
    margin-left: 1em;
}
.time1, .time2{
    display: flex;
    /*background-color: red;*/
    align-items: center;
}
.time2{
    margin-left: 50px;
}
.P{
    margin-left: 1em;
}
.partida img{
    width: 1.8em;
}
.time1 img{
    margin-left: 0.5em;
}
.time2 img{
    margin-right: 0.5em;
}
.bg-notícias{
    width: 100%;
    height: auto;
    background-color: var(--cinza);
}
.notícias{
    width: 75%;
    height: 90%;
    /* background-color: darkgray; */
}
.próximos-jogos{
    width: 23%;
    height: auto;
    /* background-color: dimgrey; */
}
.news-card{
    width: 100%;
    max-width: 14.82em;
    height: 23.125em;
    background: var(--gradient);
    color: #fff;
    margin-bottom: 1em;
    box-shadow: 0 0px 10px rgb(83, 83, 83);
}
.notícias h2, .próximos-jogos h2{
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
}
.notícias h3{
    padding: 0.5em;
    text-transform: uppercase;
}
.notícias p{
    padding: 0em 0.7em;
    text-align: justify;
}
.wrap{
    flex-wrap: wrap;
}
.próximas-partidas{
    background: var(--gradient);
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.game{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;

}
.times{
    display: flex;
    justify-content: space-around;
    align-items: center ;
}
.times p{
    font-size: 1.25em;  

}
.times img{
    width: 2.5em;
}
.times div{
    display: flex;
    align-items: center;
}
.times>p{
    margin: 0 1em;
}

@media screen and (max-widht: 74.93em){
/*até 1199px*/
}

@media screen and (max-widht: 47.93em){
/*até 991px*/
}

@media screen and (max-widht: 35.93em){
    /*até 767px*/
} 