@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

:root{

    --background : #000000;
    --red : #c20000;
    --blue : #001f70;
    --gradient : linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);

    --font :'Titillium Web', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


body{
    font-family: var(--font);
    background-color: var(--background);
    font-size: 16px;
}
.topo{
    width: 100%;
    height: 5em;
    /**background-color: azure;**/
}
.content{
    width: 80%;
    height: 100%;
    max-width: 75em;
    margin: auto;
    /**background-color: burlywood;**/
}
.flex-center-bt{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topo img{
    max-width: 21em;
}
.menu{
    width: 100%;
    max-width: 54em;
    padding: 25px;
}
.menu ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu a{
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;  
    padding: 1.8em 1em; 
}
.banner{
    width: 100%;
    height: 600px;
    position: relative;
}
.banner-position{
    width: 100%;
    height: 37.5em;
    /*background-color: rgba(100, 148, 237, 0.288);*/
    position: absolute;
    top: 0%;
}
.banner-content{
    width: 80%;
    height: 100%;
    /*background-color: rgba(255, 20, 145, 0.507);*/
    margin: auto;
    display: flex;
    justify-content: flex-end;
    margin-left: 250px;
}
.banner-text{
    width: 50%;
    height: 100%;
    /*background-color: gold;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.banner-text h1{
    font-size: 4.20em;
}
.banner-text p{
    font-size: 1.87em;
}
.banner-text a{
    font-size: 1.87em;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    background-color: var(--red);
    padding: 0.5em 1em;
    border-radius: 0.5em;
    margin-top: 1em;
}
.jogos{
    width: 100%;
    height: 7.5em;
    /*background-color: violet;*/
}
.jogos ul{
    list-style-type: none;
    width: 100%;
}
.jogos ul a:hover img{
    transform: scale(1.1);
    transition: 0.5s;
}
.about{
    width: 100%;
    height: 31.25em;
    background-color: var(--blue);
    position: relative;
}
.about-angulation{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.angulation{
    width: 100%;
    height: 24em;
    background-color: #000000;
    transform: skewY(-5deg);
}
.about-position{
        width: 100%;
        height: 100%;
        /*background-color: rgba(64, 224, 208, 0.295);*/
        position: absolute;
        top: 0;
}
.about-text{
    width: 50%;
    color: #fff;
    text-align: justify;
}
.about-text h2{
    font-size: 2.18em;
    margin-bottom: 0.5em;
}
.about-text p{
    font-size: 1.125em;
}
.about-position img{
    max-width: 31.87em;
}



















@media screen and (max-widht: 1199px){

}

@media screen and (max-widht: 767px){

}

@media screen and (max-widht: 575px){
} 